#container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#container > button {
    border: 1px solid black;
}

#display {
    text-align: end;
    font-size: 2rem;
    line-height: 3rem;
    width: 200px;
    height: 3rem;
    border: 1px solid black;
}

#plus {
    grid-row-start: 1;
    grid-column-start: 4;
}

#minus {
    grid-row-start: 2;
    grid-column-start: 4;
}

#times {
    grid-row-start: 3;
    grid-column-start: 4;
}

#divide {
    grid-row-start: 4;
    grid-column-start: 4;
}

#equals {
    grid-row-start: 4;
    grid-column-start: 3;
}